/* This is a comment in CSS */

/* The first part of a stylesheet is a "reset" to fix undesirable default behaviour */

body {
    margin: 60px auto;
    width: 70%;
}

header, section, main, nav {
    display: block;
}

header:after, section:after, main:after, nav:after {
    content: " "; /* 1 */
    display: block; /* 2 */
    clear: both;
}

/* Once the fixes are done, we can get to the actual styles */

html {
    font-family: Geneva, Helvetica, Arial, sans-serif;
    color: #383838;
    background-color: #F8F8F8;
}

a {
    color: #A61923;
}

header {
    background-color: #A61923;
    border-bottom: 5px solid #7D0918;
    padding: 10px;
}

header, header a, header a:visited {
    color: #EDEDED;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

header h1, header nav {
    text-align: center;
}

header nav a:not(:last-child) {
    margin-right: 10px;
}

header h1, header nav, main {
    max-width: 640px;
    width: 100%;
    margin: 0px auto;
}

#banner {
    text-align: center;
    margin: 0;
    background-color: #7D0918;
}

#banner img {
    width: 100%;
    height: auto;
    max-width: 1024px;
}

.bio {
    margin-top: 15px;
    background-color: #D8D8D8;
    padding: 10px;
    border-bottom: 5px solid #B0B0B0;
}

.bio p {
    margin: 0;
}

.bio img {
    float: left;
    margin-right: 10px;
    border: 1px solid #A0A0A0;
}

.bio address {
    margin-top: 5px;
    font-style: normal;
    color: #585858;
    text-align: right;
    font-size: 90%;
}

h2 {
    color: #A61923;
}

@media screen and (max-width: 640px) {
    section {
        padding: 0 10px;
    }
}

### From old
.Intermediate {
    background-color: #d7d9f2;
}

.Elementary {
    background-color: #ffe8d4;
}
.Advanced {
    background-color: #E59866;
}

caption {
    padding: 8px;
    caption-side: top;
    font-size: 1em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(100, 100, 100);
    letter-spacing: 1px;
    font-size: 1em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}



td,
th {
    border: 1px solid rgb(100, 100, 100);
    padding: 10px 10px;
}

td {
    text-align: center;
}
/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}