body {
    margin: 60px auto;
    width: 70%;
}
.wrapper {

max-width: 50%;
  display: flex;
  flex-direction: row;
  height: 80%;
}

.left, .right {
  
  max-width: 50%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left {
  align-items: center;
  justify-content: center;
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
h2 {
    font-size: 2.5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
h3 {
    font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
.Intermediate {
    background-color: #d7d9f2;
}

.Elementary {
    background-color: #ffe8d4;
}
.Advanced {
    background-color: #E59866;
}

caption {
    padding: 8px;
    caption-side: top;
    font-size: 1.5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(100, 100, 100);
    letter-spacing: 1px;
    font-size: 1em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}



td,
th {
    border: 1px solid rgb(100, 100, 100);
    padding: 10px 10px;
}

td {
    text-align: center;
}
