<!DOCTYPE html>
<html>
	<head>
		<title>Anant Gupta, 5th year PhD Student</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
  <body>
    <div class="container">
			
			{{ content }}
			
    </div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:anantgupta@ucsb.edu">email</a></li>
        		  <li><a href="https://scholar.google.com/citations?user=hPu1BYUAAAAJ"target="_blank">Google Scholar</a></li>
				</ul>
			</footer>
		</body>
	</html>
