<!DOCTYPE html>
<html>
	<head>
		<title>Anant Gupta, 5th year PhD Student</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/files/anant_cv.pdf"target="_blank">CV</a></li>
        <li><a href="https://wcsl.ece.ucsb.edu/mm-wave-imaging"target="_blank">Project</a></li>
      </ul>
    </nav>
    <div class="container">
			
			{{ content }}
			
    </div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:anantgupta@ucsb.edu">email</a></li>
        		  <li><a href="https://github.ucsb.edu/anant"target="_blank">github.ucsb.edu/anant</a></li>
				</ul>
			</footer>
		</body>
	</html>
